* {
  margin: 0;
}

.app {
  background-color: #fafafa;
}
.app__posts {
  padding: 20px;
}
.app__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 20px;
  background-color: white;
  object-fit: contain;
  border-bottom: 1px solid lightgray;
}
.app__headerImage {
  object-fit: contain;
  width: 110px;
}
.app__signUp {
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.comment__box {
  display: flex;
  margin-top: 10px;
}
.post__button {
  flex: 0;
  border: none;
  color: #6082a3;
  background-color: transparent;
  border-top: 1px solid lightgray;
}
.post__input {
  flex: 1;
  border: none;
  outline: none;
  padding: 10px;
  border-top: 1px solid lightgray;
}
